.form-wrapper-pop {
  padding: 60px 12% 40px 8%;
}
.close-form {
  position: absolute;
  right: 23px;
  top: 20px;
  cursor: pointer;
  svg {
	width: size(23);
	fill: #000000;
	transition: fill ease-out .5s;
  }
}
.post-form-title {
  @include base-title;
}
.post-form-title, .post-form-subtitle {
  text-align: center;
  color: #ffffff;
  font-family: $open-sans-condensed;
}
.post-form-subtitle {
  @include h6;
  font-weight: 400;
  margin-bottom: 16px;
}
//Forms
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
div.wpcf7 input,
div.wpcf7 textarea,
div.wpcf7 select {
  @include input-text;
  @include input-style;
  margin-bottom: 15px;
}
div.wpcf7 input[type="text"] {
  background-image: url("../iconsall/form-name.png");
  background-size: size(25);
  background-position: calc(100% - 10px) center;
}
div.wpcf7 input[type="tel"] {
  background-image: url("../iconsall/form-tel.png");
  background-size: size(20);
}
div.wpcf7 input[type="email"] {
  background-image: url("../iconsall/form-mail.png");
  background-position: calc(100% - 9px) center;
}
div.wpcf7 textarea {
  height: 148px !important;
  background-image: url("../iconsall/form-textarea.png") !important;
  background-position: calc(100% - 12px) 11px !important;
  padding-top: 11px;
  @media screen and (max-width: 768px) {
	margin-bottom: 0;
  }
}
div.wpcf7 input[type="submit"] {
  background-color: $red-main;
  background-image: url("../iconsall/form-submit-white.png");
  background-position: 11px center;
  background-size: size(21);
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  border: 1px solid #ffffff;
  transition: background-position ease-out .5s;
  &:hover {
	background-position: 7px center;
  }
}
//Footer form
.repeat-form-block {
  div.wpcf7 input,
  div.wpcf7 textarea,
  div.wpcf7 select {
	height: size(49);
	border-radius: size(23);
  }
}
.post-form-wrap {
  div.wpcf7 input,
  div.wpcf7 textarea,
  div.wpcf7 select {
	height: size(40);
	border-radius: size(20);
	font-size: size(22);
	line-height: size(25);
  }
}
.repeat-form-block, .post-form-wrap, .contact-form-page {
  div.wpcf7 input[type="submit"] {
	box-shadow: 0 0 21px rgba(0, 2, 13, 0.42);
	background-color: #898989;
  }
}
.post-form-wrap {
  div.wpcf7 input[type="submit"] {
	font-size: size(25);
	line-height: 1rem;
	background-size: 16px;
  }
  div.wpcf7 input[type="text"] {
	background-size: size(20);
  }
}
.contact-form-page {
  background-color: $red-main;
  padding: 57px 66px 45px 66px;
  @media (max-width: 576px) {
	padding: 57px 26px 45px 26px;
  }
  @include back-img;
  background-image: url("../img/contact-form-page.png");
  div.wpcf7 input,
  div.wpcf7 textarea {
	height: size(44);
	border-radius: size(20);
  }
  div.wpcf7 input[type="submit"] {
	height: size(49);
	border-radius: size(23);
	padding: 5px 123px;
	@media (max-width: 576px) {
	  padding: 5px 40px;
	}
  }
}
