header {
  background-color: #373737;
  padding: 10px 0;
  &.home-header {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	background-color: transparent;
	z-index: 99;
  }
  &.sticky.fixed {
	background-color: #373737;
  }
  .logo {
	@media (max-width: 992px) {
	  margin-right: 40px;
	}
  }
  @media (max-width: 650px) {
	.search-trigger-col {
	  padding-right: 0 !important;
	}
	.search-trigger {
	  padding: 5px;
	  width: 40px;
	  height: 40px;
	  border-radius: 50%;
	  background-position: center;
	  span {
		display: none;
	  }
	}
  }
  @media (max-width: 450px) {
	.search-trigger {
	  position: fixed;
	  right: 10px;
	  bottom: 2rem;
	  z-index: 7;
	}
	.row-contacts-header {
	  padding: 0;
	}
  }
}
.logo {
  @include d-center;
}
#MainNav{
  ul{
	display: flex;
	height: 100%;
	li{
	  @include d-center;
	  border-left: 1px solid #ffffff;
	  a{
		padding: 0 20px;
		@include d-center;
		@include menu-text;
		color: #ffffff;
		font-style: normal;
		letter-spacing: normal;
		text-align: center;
	  }
	  &:last-child {
		border-left: none;
	  }
	  @media (max-width: 992px) {
		border: none;
	  }
	}
  }
}
.bread-row {
  a, span {
	color: #373737;
	@include base-text;
	transition: color ease-out .5s;
  }
  a:hover {
	color: $red-main;
  }
}
.header-tel-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  img {
	margin-left: 5px;
  }
  span {
	@include h5;
	font-weight: 400;
	color: #ffffff;
  }
  @media (max-width: 1200px) {
	span {
	  display: none;
	}
  }
}



//Footer
footer {
  margin-top: 50px;
}
.foo-menu {
  margin-bottom: 30px;
}
.foo-title {
  @include base-title;
  color: #ffffff;
  font-family: $open-sans-condensed;
  margin-bottom: 20px;
}
.footer-container-menu {
  position: relative;
  li {
	margin-bottom: 15px;
	a {
	  display: flex;
	  @include foo-menu;
	  color: #ffffff;
	  transition: color ease-out .5s;
	  &:before {
		content: '>>';
		padding-left: 3px;
	  }
	  &:hover {
		color: $red-main;
	  }
	  @media (max-width: 1600px) and (min-width: 992px){
		font-size: size(17);
		line-height: size(20);
	  }
	}
  }
}
.footer-main-back {
  background-image: url("../img/footer-back.png");
  @include back-img;
  form {
	margin-bottom: 30px;
  }
}
.footer-main {
  padding: 45px 0;
  position: relative;
  background-color: rgba(69, 69, 69, 0.9);
  .logo {
	margin-bottom: size(30);
  }
}
.footer-form {
  margin-bottom: 73px;
  @media (max-width: 1600px) {
	margin-bottom: 30px;
  }
}
#go-top {
  position: absolute;
  z-index: 99;
  top: -49px;
  right: 8%;
  @include d-center;
  flex-direction: column;
  cursor: pointer;
  img {
	animation: jump-top 1.2s ease-in-out alternate infinite;
	max-width: size(50);
  }
}
.top-text {
  @include base-text;
  color: $red-main;
  font-family: $open-sans-condensed;
}
.foo-contact-col {
  margin-bottom: 20px;
  @media (max-width: 400px){
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 35px;
  }
  a {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	&:hover {
	  .contact-foo-title, .contact-info-footer {
		color: $red-main;
	  }
	}
  }
}
.foo-contact-icon {
  @include d-center;
  width: size(99);
  height: size(99);
  background-color: #ffffff;
  padding: size(19);
  border-radius: 50%;
  margin-bottom: 13px;
  img {
	max-height: 100%;
  }
  @media (max-width: 1200px) and (min-width: 992px){
	width: size(59);
	height: size(59);
	padding: 10px;
  }
  @media (max-width: 500px){
	width: size(59);
	height: size(59);
	padding: 10px;
  }
  @media (max-width: 400px){
	width: size(89);
	height: size(89);
	padding: 19px;
  }
}
.contact-info-footer {
  @include base-text;
}
.contact-foo-title, .contact-info-footer {
  text-align: center;
  color: #ffffff;
  transition: color ease-out .5s;
}
.contact-foo-title {
  font-family: $open-sans-condensed;
  @include h4;
  font-weight: 700;
  margin-bottom: 3px;
}

//Fixed socials
.fixed-links {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9999;
}
.fixed-link {
  @include d-center;
  width: size(60);
  height: size(60);
  border-radius: 0 size(25) size(25) 0;
  background-color: #898989;
  padding: 10px 10px 10px 15px;
  margin-bottom: 3px;
  img {
	max-width: 100%;
	max-height: 100%;
  }
}
.linkedin-link {
  background-color: $red-main;
}
.facebook-link {
  background-color: #666464;
}
.pop-trigger, .search-trigger {
  cursor: pointer;
}
.search-trigger {
  background-color: #3d3d3d;
}
.pop-form, .pop-form-search {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity .5s;
  &.show-popup {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
}
.curr-body-hidden {
  overflow: hidden;
}
.float-form, .float-form-search {
  position: relative;
  width: 100%;
  max-height: 95vh;
  transition: all .5s;
  z-index: 99999999999;
  transform: translateX(-100%);
  overflow-y: auto;
  opacity: 0;
  &.show-float-form{
	opacity: 1;
	transform: translateX(0);
  }
}
.form-wrapper-pop {
  position: relative;
  @include d-center;
  flex-direction: column;
  border-radius: size(35);
  background-color: $red-main;
  padding: 34px 38px;
  div.wpcf7 input {
	color: #000000;
	font-size: size(20);
	height: size(35);
	box-shadow: 0 0 9px 1px rgba(0, 2, 13, 0.35);
	border-radius: size(18);
  }
  div.wpcf7 input[type="text"] {
	background-size: size(20);
  }
  div.wpcf7 input[type="tel"] {
	background-size: size(18);
  }
  div.wpcf7 input[type="submit"] {
	@include base-text;
	text-align: center;
	font-weight: 700;
	padding: 5px 20px;
	background-color: #a6a6a6;
	color: $red-main;
	background-image:none;
  }
}
.pop-form-title, .pop-form-subtitle {
  color: #ffffff;
  text-align: center;
  font-family: $open-sans-condensed;
}
.pop-form-title {
  font-size: size(45);
  line-height: size(50);
  font-weight: 700;
  @media (max-width: 1600px) {
	font-size: size(35);
	line-height: size(40);
  }
  @media (max-width: 576px) {
	font-size: size(30);
	line-height: size(35);
  }
}
.pop-form-subtitle {
  @include h4;
  font-weight: 400;
}
.close-form, {
  position: absolute;
  right: 16px;
  top: 14px;
  cursor: pointer;
  @include d-center;
  img {
	width: 12px;
  }
}
