//Faq
.faq {
  padding: 100px 0 30px 0;
  .card {
	border: none !important;
  }
  .question-card {
	margin-bottom: 15px;
	border-radius: 0 !important;
  }
  .question-title {
	display: flex;
	align-items: stretch;
	width: 100%;
	background-color: transparent;
	border-radius: 0;
	border:none;
	position: relative;
	z-index: 9;
	padding: 20px size(89) 20px 10%;
	@media (max-width: 576px) {
	  padding: 12px size(49) 12px 5%;
	}
	&:after {
	  content: '';
	  position: absolute;
	  left: 0;
	  top: 0;
	  display: flex;
	  height: size(75);
	  background-size: auto;
	  background-repeat: no-repeat;
	  background-position: center;
	  padding: 0 26px;
	  background-image: url("../iconsall/faq-bottom.png");
	  @media (max-width: 576px) {
		height: size(60);
		padding: 0 20px;
		background-size: 15px;
	  }
	}
  }
}
.question-title-q {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  @include base-text;
  color: $text-main;
  text-align: right;
  transition: color .5s;
}
.answer-body {
  padding: 0 size(89) 26px 10%;
  @media (max-width: 576px) {
	padding: 0 size(49) 26px 5%;
  }
  .base-output {
	p, li {
	  font-weight: 300;
	  font-size: size(18);
	  line-height: size(25);
	}
  }
}
.question-header {
  position: relative;
  min-height: size(75);
  box-shadow: 0 2px 18px 1px rgba(22, 22, 22, 0.17);
  border-radius: size(30);
  background-color: #ffffff;
  padding: 0;
  &.active-faq {
	background-color: $red-main;
	.question-title-q, .base-output *, .faq-icon {
	  color: #ffffff;
	}
	.question-title:after {
	  background-image: url("../iconsall/faq-top.png");
	}
  }
  @media (max-width: 576px) {
	min-height: size(55);
	border-radius: size(20);
  }
}
.faq-icon {
  position: absolute;
  right: 25px;
  top: 15px;
  color: $red-main;
  font-family: $open-sans-condensed;
  font-size: size(75);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(45);
  transition: color ease-out .5s;
  @media (max-width: 576px) {
	font-size: size(55);
	line-height: size(35);
	right: 15px;
	top: 10px;
  }
}
//Slider
.arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: size(17);
	height: size(26);
	z-index: 33;
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-left.png");
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-right.png");
  }
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
}
.arrows-slider-post {
  top: 40%;
  @media screen and (max-width: 576px) {
	[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	  top: 45%;
	}
	[dir="rtl"] .slick-next {
	  left: 0;
	}
	[dir="rtl"] .slick-prev {
	  right: 0;
	}
  }
}
.arrows-slider-base {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: unset;
	width: size(24);
	height: size(20);
	bottom: -50px;
  }
  [dir="rtl"] .slick-next {
	left: 0;
	right: unset;
	background-image: url("../iconsall/arrow-link.png");
  }
  [dir="rtl"] .slick-prev {
	left: 90px;
	right: unset;
	background-image: url("../iconsall/arrow-link-right.png");
  }
}
.post-gallery-block {
  [dir="rtl"] .slick-next {
	left: 0;
  }
  [dir="rtl"] .slick-prev {
	left: unset;
	right: 0;
  }
}
.arrows-slider-white {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: size(27);
	height: size(41);
	@media screen and (max-width: 576px){
	  top: calc(100% + 50px);
	}
  }
  [dir="rtl"] .slick-next {
	left: -37px;
	background-image: url("../iconsall/arrow-left-white.png");
	@media screen and (max-width: 576px){
	  left: calc(50% - 40px);
	}
  }
  [dir="rtl"] .slick-prev {
	right: -37px;
	background-image: url("../iconsall/arrow-right-white.png");
	@media screen and (max-width: 576px){
	  right: calc(50% - 40px);
	}
  }
}
.base-slider-block {
  position: relative;
  margin: 120px 0;
}
.slider-img-col {
  position: relative;
  @include d-center;
  img {
	position: relative;
	z-index: 4;
	width: 100%;
  }
}
//Repeat form
.repeat-form-block {
  padding: 64px 0;
  background-image: url("../img/form-back.png");
  @include back-img;
  background-color: $red-main;
}
.base-form-title, .base-form-subtitle, .foo-form-subtitle, .foo-form-title,
.contact-form-title, .contact-form-subtitle {
  color: #ffffff;
  font-family: $open-sans-condensed;
  text-align: center;
}
.base-form-title, .contact-form-title {
  @include giant-title;
}
.base-form-subtitle {
  @include base-title;
  font-weight: 400;
  margin-bottom: 20px;
}
.contact-foo-title {
  @media (min-width: 1920px) {
	font-size: size(67);
	line-height: size(80);
  }
}
.contact-form-subtitle {
  @include big-title;
  font-weight: 400;
  margin-bottom: size(55);
  @media (max-width: 1600px) {
	margin-bottom: size(35);
  }
}
.foo-form-title {
  font-size: size(60);
  line-height: size(70);
  font-weight: 700;
  @media (min-width: 1920px) {
	font-size: size(81);
	line-height: size(90);
  }
  @media (max-width: 1600px) {
	font-size: size(45);
	line-height: size(50);
  }
  @media (max-width: 576px) {
	font-size: size(35);
	line-height: size(40);
  }
}
//Properties slider
.projects-slider {
  position: relative;
  z-index: 77;
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
  .project-slide-wrap {
	padding: 12px;
  }
}
//Gallery
.gallery-item {
  width: 100%;
}
.big-slider-item, .thumb-item {
  position: relative;
  @include d-center;
  @include back-img;
  border-radius: 20px;
  &:after {
	content: '';
	display: block;
	padding-bottom: 77.5%;
  }
}
.thumb-item {
  &:after {
	padding-bottom: 93.4%;
  }
}


//Post card
.post-col {
  margin-bottom: size(42);
}
.post-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.service-item {
  &:hover {
	.service-overlay {
	  background-color: rgba(0, 0, 0, 0.2);
	}
  }
}
.post-item-title {
  @include h4;
  color: #4a4a4a;
  font-weight: 400;
  font-family: $open-sans-condensed;
  margin-bottom: 8px;
  text-align: center;
  transition: color ease-out .5s;
  &:hover {
	color: $red-main;
  }
}
.card-img {
  @include back-img;
  @include d-center;
  border-radius: size(35);
  width: 100%;
  &:after {
	content: '';
	display: block;
	padding-bottom: 80.42%;
  }
}
.service-overlay {
  width: 100%;
  height: 100%;
  @include d-center;
  padding: 10% 5%;
  flex-direction: column;
  border-radius: size(35);
  background-color: rgba(0, 0, 0, 0.55);
  transition: background-color ease-out .5s;
}
.post-item-image {
  margin-bottom: 11px;
}
.post-item-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.post-item-link {
  @include d-center;
  height: size(35);
  border-radius: size(18);
  background-color: $red-main;
  color: #ffffff !important;
  font-family: $open-sans-condensed;
  font-size: size(19);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(20);
  padding: 3px size(26);
  transition: background-color, color ease-out .5s;
  &:hover {
	background-color: #4a4a4a;
  }
}
.service-item-link {
  @include h4;
  height: size(41);
  border-radius: size(20);
  background-color: #ffffff !important;
  color: #6a0d0e !important;
  margin-top: 24px;
}
.service-title {
  @include h3;
  color: #ffffff !important;
  font-family: $open-sans-condensed;
  font-weight: 400;
  text-align: center;
}
.service-col {
  padding: 4px;
  margin: 0;
  @media (max-width: 576px) {
	padding: 0 15px;
	margin-bottom: 8px;
  }
}
//Property card
.property-card-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &:hover {
	.property-title-wrap {
	  background-color: $red-main;
	}
	.property-title {
	  color: #ffffff;
	}
  }
}
.property-card-img {
  position: relative;
  width: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.21);
  border-radius: size(30);
  background-color: #ffffff;
  @include back-img;
  margin-bottom: 18px;
  &:after {
	content: '';
	display: block;
	padding-bottom: 95%;
  }
}
.property-card-overlay {
  @include overlay;
  overflow: hidden;
  border-radius: size(30);
  background-color: rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.property-title-wrap {
  @include d-center;
  width: 100%;
  height: 25%;
  padding: 18px 5%;
  background-color: #ffffff;
  transition: background-color ease-out .5s;
}
.property-title {
  @include h6;
  color: $red-main;
  font-family: $open-sans-condensed;
  text-align: center;
  font-weight: 700;
  transition: color ease-out .5s;
  @media (max-width: 1600px) {
	font-size: size(19);
	line-height: size(22);
  }
}
.property-item-content {
  padding: 0 15px;
}
.project-item {
  .property-card-img {
	box-shadow: unset;
	margin-bottom: 0;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	&:after {
	  padding-bottom: 85%;
	}
  }
  .property-title-wrap {
	flex-direction: column;
	justify-content: flex-start;
	height: auto;
	flex-grow: 1;
  }
  .property-card-col {
	border-radius: 30px;
	height: 100%;
	overflow: hidden;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.21);
  }
  .tip-pro {
	top: 50px;
	right: 0;
  }
}
.tip-pro {
  position: absolute;
  right: -14px;
  top: 6px;
  width: 140px;
  color: $red-main;
  font-size: size(20);
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(21);
  text-align: center;
  padding: size(19) 0 size(11) size(30);
  background-image: url("../iconsall/tip.png");
  background-position: bottom right;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 6;
}
//Worker
.worker-col-item {
  margin-bottom: 58px;
  .owner-overlay {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-items: center;
	padding: 20px size(40);
  }
}
.worker-img {
  position: relative;
  display: flex;
  margin-bottom: 11px;
  border-radius: 30px;
  overflow: hidden;
  width: 100%;
  @include back-img;
  background-position: top center;
  &:after {
	content: '';
	display: block;
	padding-bottom: 110%;
  }
}
.worker-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.worker-name {
  @include h5;
  font-weight: 700;
  margin-bottom: 5px;
}
.worker-name, .worker-position {
  color: #ffffff;
  text-align: center;
}
.worker-position {
  font-size: size(18);
  line-height: size(22);
}
