/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


@media (min-width: 1600px) {
  .container {
	max-width: 76.88%;
  }
}
//Bootstrap 4 breakpoints

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 20px;
  }
}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 18px;
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .slider-img-col {
	margin-bottom: 35px;
  }
  .mob-prop-title {
	display: flex;
  }
  .desc-prop-title {
	display: none;
  }
  .product-gallery-col {
	order: -1;
	margin-bottom: 3rem;
  }
  .post-gallery-block {
	margin-bottom: 3rem;
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  .property-search .form-check-inline-cus {
	flex: 0 0 50%;
	max-width: 50%;
	margin-bottom: 10px !important;
	align-self: flex-end;
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .foo-main-menu, .foo-services-menu {
	flex: 0 0 50%;
	max-width: 50%;
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  .foo-main-menu, .foo-services-menu {
	flex: 0 0 100%;
	max-width: 100%;
  }
}
