.search-trigger {
  @include d-center;
  min-height: size(38);
  box-shadow: 0 0 25px 2px rgba(0, 2, 13, 0.68);
  border-radius: size(19);
  border: 1px solid #ffffff;
  background-color: $red-main;
  @include h6;
  color: #ffffff !important;
  text-align: center;
  background-image: url("../iconsall/search.png");
  background-position: 9px center;
  background-size: 24px;
  background-repeat: no-repeat;
  padding: 3px size(58);
  transition: background-color ease-out .5s;
  &:hover {
	background-color: #898989;
  }
  @media (max-width: 992px) {

  }
}
.pop-search {
  position: fixed;
  top: 0;
  right: 0;
  height: auto;
  width: 100%;
  display: none;
  z-index: 999;
  overflow-y: auto;
  .property-search-section {
	border-radius: 0;
  }
  .advanced-form {
	border-radius: 0;
  }
}
.close-search {
  position: absolute;
  right: 5%;
  top: 13px;
  cursor: pointer;
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
}
.search-form {
  position: relative;
}
.property-search-section {
  background-color: $red-main;
  padding: 40px 0 60px 0;
  border-radius: size(35);
  .form-group {
	margin-bottom: 10px;
  }
  select {
	-webkit-appearance: none;
	width: 100%;
	background-image: url("../iconsall/faq-bottom.png");
	background-position: size(12) center;
	background-size: size(21);
	background-repeat: no-repeat;
  }
  input, select, button {
	height: size(48);
	border-radius: 10px;
	background-color: #ffffff;
	margin-bottom: 0 !important;
	::placeholder {
	  @include h5;
	  color: #898989;
	  font-weight: 400;
	}
  }
  label, button, .search-title-group {
	@include h5;
	color: #ffffff;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	margin-bottom: size(20);
	&.form-check-label {
	  font-weight: 400;
	  margin-bottom: 0 !important;
	  @media (max-width: 450px) {
		font-size: size(16);
		line-height: size(20);
	  }
	}
  }
  .input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
  }
  .input-group > .form-control:not(:first-child), .input-group > .custom-select:not(:first-child) {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
  }
  button.btn-advanced {
	position: relative;
	color: $red-main;
	padding: 5px size(60);
	margin-left: 10px;
	.plus-icon {
	  position: absolute;
	  left: 5px;
	}
	@media (max-width: 992px) {
	  padding: 5px 5%;
	}
  }
  button.btn-search {
	padding: 5px size(25) 5px size(47);
	text-align: center;
	background-color: #898989;
	background-image: url("../iconsall/search.png");
	background-position: 10px center;
	background-size: size(27);
	background-repeat: no-repeat;
	flex-grow: 1;
  }
  .form-check-inline {
	margin-right: 0;
	display: flex;
	align-items: center;
	flex: 0 0 20%;
	max-width: 20%;
	margin-bottom: 25px;
	@media (max-width: 992px) {
	  flex: 0 0 25%;
	  max-width: 25%;
	}
	@media (max-width: 768px) {
	  flex: 0 0 33%;
	  max-width: 33%;
	}
	@media (max-width: 576px) {
	  flex: 0 0 50%;
	  max-width: 50%;
	}
  }
  .form-check-inline .form-check-input {
	width: size(27);
	min-width: size(27);
	height: size(27);
	border-radius: 5px;
	background-color: #ffffff;
	margin-left: 11px;
  }
}
.form-check-inline-cus {
  margin-bottom: 10px !important;
}
.advanced-form {
  display: none;
  padding-top: 30px;
  border-radius: 0 0 size(35) size(35);
  height: auto;
  right:0;
  z-index: 9999;
  @media (max-width: 768px) {
	button {
	  margin-top: 15px;
	}
  }
}
