@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "partials";
@import "forms";
@import "header-footer";
@import "search";

body{
  font-family: $open-sans;
  text-align: right;
}
.wow {
  visibility: hidden;
}
//Basic stuff
.page-body {
  padding-top: 40px;
  @media (min-width: 1920px) {
	padding-top: 90px;
  }
}
.block-title {
  @include big-title;
  margin-bottom: size(46);
  font-weight: 700;
}
.block-title, .block-subtitle {
  text-align: center;
  color: $red-main;
  font-family: $open-sans-condensed;
}
.block-title-white {
  color: #ffffff;
}
.base-output {
  h1 {
	@include big-title;
  }
  h2 {
	@include base-title;
  }
  h1, h2, h3, h4, h5, h6 {
	color: $red-main;
	font-weight: 700;
	margin-bottom: size(30);
	font-style: $open-sans-condensed;
  }
  h3 {
	@include h3;
  }
  h4 {
	@include h4;
  }
  h5 {
	@include h5;
  }
  h6 {
	@include h6;
  }
  p, li {
	@include base-text;
	color: $text-main;
  }
  ul {
	list-style: disc;
	margin: 1rem;
  }
  img {
	width: 100%;
  }
  strong {
	font-weight: 800;
  }
}
.base-link {
  @include d-center;
  background-image: url("../iconsall/arrow-link.png");
  background-size: size(21);
  background-position: 5px center;
  background-repeat: no-repeat;
  @include h4;
  color: $red-main !important;
  font-weight: 700;
  font-family: $open-sans-condensed;
  padding-left: 35px;
  transition: background-position ease-out .5s;
  &:hover {
	background-position: left center;
  }
}
.more-link {
  background-image: none;
  padding-left: 0;
  flex-direction: column;
  cursor: pointer;
  img {
	margin-top: 4px;
	transition: margin-top ease-out .5s;
	transform: rotate(270deg);
  }
  &:hover {
	img {
	  margin-top: 8px;
	}
  }
  &.loading {
	img {
	  opacity: 0;
	}
  }
  &.hide {
	display: none;
  }
}
.home-posts-block {
  margin: 78px 0;
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
}
.blog-body {
  margin-bottom: 21px;
}
.services-block {
  margin: 60px 0;
}
//Homepage
.about-page-body {
  position: relative;
  margin-bottom: 88px;
}
.about-img {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 50%;
  @media (max-width: 1200px) {
	max-width: 35%;
  }
  @media (max-width: 992px) {
	display: none;
  }
}
.main-block {
  position: relative;
  .slick-initialized .slick-slide {
	position: relative;
  }
  .slick-slider .slick-track, .slick-slider .slick-list {
	height: 100%;
  }
  margin-bottom: 145px;
  .search-home {
	margin-top: 50px;
  }
  .base-form-subtitle, .base-form-title {
	text-shadow: 0 0 36px #00020d;
  }
  .base-form-subtitle {
	font-weight: 700;
	margin-bottom: 10px;
  }
  .search-title-home {
	@include big-title;
	color: #ffffff;
	font-family: $open-sans-condensed;
	font-weight: 700;
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.69);
	margin-bottom: 34px;
	text-align: center;
	@media (min-width: 1601px) {
	  font-size: size(60);
	  line-height: size(70);
	}
  }
  .property-search-section {
	margin-bottom: -65px;
  }
}
.padding-block {
  @include overlay;
}
.slide-main {
  height: 100%;
  @include back-img;
  width: 100%;
}
.slide-main-overlay {
  position: absolute;
  background-image: url("../img/slider-main-overlay.png");
  background-position: top center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.main-slider-wrap, .main-slider {
  position: relative;
  height: 100%;
}
.content-main-wrap {
  padding-top: 150px;
  position: relative;
  @media (max-width: 1600px) {
	padding-top: 100px;
  }
  z-index: 9;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  .property-search-section {
	@media (max-width: 1599px) {
	  padding-left: 30px!important;
	  padding-right: 30px !important;
	}
  }
}
.search-home {
  max-width: 90%;
  //margin: 0 auto;
  .container {
	@media (min-width: 1600px) {
	  max-width: 90%;
	}
  }
}
.logo-home {
  @include d-center;
  margin-bottom: 30px;
  img {
	max-height: size(300);
	@media (max-width: 1600px) {
	  max-height: 150px;
	}
  }
}
.counter-block {
  @include back-img;
  background-image: url("../img/counter-back.png");
  padding: 87px 0 60px 0;
}
.counter-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter-number {
  font-size: size(130);
  font-style: normal;
  letter-spacing: normal;
  line-height: size(200);
  @media (max-width: 1600px) {
	font-size: size(80);
	line-height: size(90);
  }
}
.counter-text {
  @include base-title;
  text-align: center;
  @media (max-width: 1200px) {
	font-size: size(30);
	line-height: size(30);
  }
}
.counter-number, .counter-text {
  color: #ffffff;
  font-family: $almoni-tzar;
  font-weight: 400;
}
//Homepage reviews
//Reviews
.reviews-block {
  @include back-img;
  padding: size(73) 0 size(103) 0;
  background-image: url("../img/reviews-back.png");
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
  @media screen and (max-width: 576px){
	padding: size(73) 0 size(143) 0;
  }
}
.review-slide {
  padding: 102.5px 5px 20px 5px;
  @media (max-width: 768px) {
	padding: 75px 5px 20px 5px;
  }
}
.review-item {
  position: relative;
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0 0 10px rgba(0, 2, 13, 0.42);
  border-radius: size(35);
  border: 1px solid $red-main;
  background-color: #ffffff;
}
.quote {
  position: absolute;
  z-index: 90;
  color: #732223;
  font-family: 'Courgette', sans-serif;
  font-size: size(202);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(202);
  text-align: center;
  @media (max-width: 768px) {
	font-size: size(150);
	line-height: size(150);
  }
  @media screen and (max-width: 576px){
	font-size: size(120);
	line-height: size(120);
  }
}
.quote-top {
  top: -25px;
  right: 30px;
  @media screen and (max-width: 576px){
	top: -10px;
	right: 10px;
  }
}
.quote-bottom {
  bottom: -160px;
  left: 0;
  @media (max-width: 768px) {
	bottom: -110px;
  }
  @media screen and (max-width: 576px){
	bottom: -90px;
  }
}
.rev-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10% 30px;
  img {
	max-height: size(45);
	margin: 0 15px;
  }
}
.review-title {
  @include h4;
  color: #898989;
  font-family: $open-sans-condensed;
  font-weight: 700;
  text-align: center;
  margin-bottom: 11px;
}
.review-logo {
  @include d-center;
  width: 205px;
  height: 205px;
  margin-top: -102.5px;
  border: 1px solid $red-main;
  background-color: #ffffff;
  border-radius: 50%;
  margin-bottom: 16px;
  padding: 30px;
  img {
	max-height: 100%;
  }
  @media (max-width: 768px) {
	width: 150px;
	height: 150px;
	margin-top: -75px;
  }
}



//POST
.article-border {
  padding-bottom: 100px;
  border-bottom: 3px solid #373737;
}
.floated-container {
  @media (max-width: 992px) {
	display: flex;
	flex-direction: column;
  }
  .base-output {
	order: -1;
  }
}
.floated-col {
  float: left;
  width: 35%;
  margin: 0 5% 5% 0;
  img {
	width: 100%;
	margin-bottom: 16px;
	border-radius: size(35);
  }
  @media (max-width: 1600px) {
	width: 46%;
  }
  @media (max-width: 992px) {
	width: 100%;
	float: unset;
	margin: 2rem 0;
	order: 3;
  }
}
.post-form-wrap {
  padding: 35px 40px 10px 40px;
  border-radius: size(35);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $red-main;
  @include back-img;
  background-image: url("../img/post-form-back.png");
}
//Contact page
.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  box-shadow: 0 0 24px rgba(0, 2, 13, 0.21);
  border-radius: size(35);
  background-color: #ffffff;
  padding: 19px 19px 37px 19px;
  height: 100%;
  transition: box-shadow ease-out .5s;
  &:hover {
	box-shadow: 0 0 14px rgba(0, 2, 13, 0.11);
  }
}
.contact-icon-wrap {
  @include d-center;
  height: size(77);
  margin-bottom: size(37);
  img {
	max-height: 100%;
  }
  @media (max-width: 992px) {
	height: size(57);
	margin-bottom: 20px;
  }
}
.contact-item-title-info {
  @include base-text;
  &:hover {
	color: $red-main;
  }
}
.contact-item-title {
  @include base-title;
  font-family: $open-sans-condensed;
  margin-bottom: 8px;
  &:hover {
	color: #373737;
  }
}
.contact-item-title, .contact-item-title-info {
  color: #373737;
  text-align: center;
  font-weight: 400;
  transition: color ease-out .5s;
}
.contact-item {
  margin-bottom: 55px;
}
//Property
.socials-share-block {
  margin: 21px 0;
}
.share-title {
  @include h5;
  color: $red-main;
  font-family: $open-sans-condensed;
  margin-bottom: 17px;
  font-weight: 700;
}
.socials-share-line {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
.social-share-link {
  margin: 0 5px;
  img {
	width: size(52);
  }
  &:first-child {
	margin-right: 0 !important;
  }
  &:last-child {
	margin-left: 0 !important;
  }
}
.property-map {
  iframe {
	width: 100% !important;
	height: auto !important;
  }
}
.mob-prop-title {
  display: none;
}
.li-value-prop {
  margin-bottom: size(30);
  @include base-text;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  @media (max-width: 1600px) {
	margin-bottom: 20px;
  }
  &:before {
	content: '';
	@include d-center;
	width: size(30);
	min-width: size(30);
	height: size(30);
	margin-left: 10px;
	background-image: url("../iconsall/marker.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
  }
}
.property-card-list {
  .li-value-prop {
	padding: 0 5px;
	margin-bottom: 7px !important;
	font-size: size(19);
	line-height: size(22);
	color: #4a4a4a;
	font-weight: 400;
	strong {
	  font-weight: 700;
	}
	&:before {
	  width: size(21);
	  min-width: size(21);
	  height: size(21);
	  margin-left: 5px;
	}
	@media (max-width: 1600px) {
	  font-size: size(16);
	  line-height: size(20);
	}
  }
}
.project-item:hover {
  .property-card-list .li-value-prop {
	color: #ffffff;
	&:before {
	  background-image: url("../iconsall/markert-white.png");
	}
  }
}
.property-values {
  margin-bottom: 30px;
}
.owner-text, .owner-link {
  @include h5;
  font-family: $open-sans-condensed;
  color: #4a4a4a;
  font-weight: 400;
  margin-bottom: 11px;
}
.owner-img {
  position: relative;
  @include d-center;
  border-radius: 20px;
  overflow: hidden;
  img {
	width: 100%;
	height: auto;
  }
}
.owner-overlay {
  @include overlay;
  background-image: url("../img/owner-overlay.png");
  @include back-img;
  border-radius: 20px;
}
.owner-link {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-weight: 700;
  margin-bottom: 7px;
  transition: color ease-out .5s;
  &:hover {
	color: $red-main;
  }
  img {
	width: size(30);
	margin-left: 7px;
  }
}
.owner-block {
  margin-top: 65px;
}
.property-map {
  margin-top: 46px;
}
//Home about
.home-about-block {
  padding-top: 67px;
  .block-title {
	@media (min-width: 1600px) {
	  font-size: size(60);
	  line-height: size(70);
	}
  }
  .base-link {
	margin-top: 40px;
  }
  .about-img-home-wrap {
	display: flex;
	justify-content: flex-end;
	position: relative;
	z-index: 4;
	margin-bottom: -200px;
	@media (max-width: 1200px) {
	  margin-bottom: -100px;
	}
	@media (max-width: 500px) {
	  display: none;
	}
	img {
	  width: 70%;
	}
  }
}

@import "responsive";
